.forgotpassword-dialog .dialog-title .text {
  font-weight: bold;
  font-size: 20px;
}

.forgotpassword-dialog .dialog-content .description {
  margin-bottom: 15px;
}

.forgotpassword-dialog .dialog-content .alert {
  margin-bottom: 15px;
}

.forgotpassword-dialog .dialog-content .textfield {
  width: 100%;
}

.forgotpassword-dialog .dialog-content .resend-email-text {
  font-size: 15px;
  width: fit-content;
  margin-left: auto;
  margin-right: 5px;
  color: #1976d2;
  cursor: pointer;
}

@media screen and (max-width: 470px) {
  .forgotpassword-dialog .MuiPaper-root {
    margin: 0px !important;
  }
  .forgotpassword-dialog .dialog-content .textfield {
    margin-top: 15px;
  }
}
