.datalist-container {
  display: flex;
  width: 100%;
  flex-direction: column;
  height: 500px;
}

.datalist-container .data-grid {
  display: flex;
  margin: 15px;
  overflow-y: hidden;
}

.datalist-container
  .css-n3fyjk-MuiDataGrid-root
  .MuiDataGrid-columnHeader:focus-within {
  outline: none !important;
}

.datalist-container
  .css-n3fyjk-MuiDataGrid-root
  .MuiDataGrid-cell:focus-within {
  outline: none !important;
}

.datalist-container .css-t89xny-MuiDataGrid-columnHeaderTitle {
  font-weight: bold;
  font-size: 16px;
}
