.updatepassword-dialog .dialog-title .text {
  font-weight: bold;
  font-size: 20px;
}

.updatepassword-dialog .dialog-content {
  padding-top: 5px;
  padding-bottom: 10px;
  width: 450px;
}

.updatepassword-dialog .dialog-content .description {
  margin-bottom: 10px;
}

.updatepassword-dialog .dialog-content .alert {
  margin-bottom: 15px;
}

.updatepassword-dialog .dialog-content .textfield-container {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.updatepassword-dialog .dialog-content .textfield-container .textfield {
  width: 100%;
  margin-top: 5px;
  margin-bottom: 5px;
}

.updatepassword-dialog .dialog-content .resend-email-text {
  font-size: 15px;
  width: fit-content;
  margin-left: auto;
  margin-right: 5px;
  color: #1976d2;
  cursor: pointer;
}

@media screen and (max-width: 565px) {
  .updatepassword-dialog .MuiPaper-root {
    margin: 0px;
  }
  .updatepassword-dialog .dialog-content {
    width: calc(100vw - 48px);
  }
}
