.changepasswordform-grid-main {
  display: flex !important;
  justify-content: center !important;
  align-items: center !important;
}

.changepasswordform-grid-item-title {
  display: flex;
  justify-content: center;
  padding-bottom: 20px;
  padding-top: 10px;
}

.changepasswordform-grid-item-title .title {
  font-size: 30px;
  color: black;
}

.changepasswordform-grid-item-description {
  padding: 10px;
}

.changepasswordform-grid-item-description .description {
  font-size: 15px;
  color: black;
}

.changepasswordform-grid-item-alert {
  padding-bottom: 8px;
}

.changepasswordform-grid-item-textfield {
  display: flex;
  justify-content: center;
}

.changepasswordform-grid-item-textfield .textfield {
  margin: 5px;
  width: 100%;
}

.changepasswordform-grid-item-realtimealert .alert {
  margin-bottom: 10px;
}

.changepasswordform-grid-item-confirmbutton {
  display: flex;
  justify-content: center;
  padding-top: 10px;
  padding-bottom: 10px;
}

.changepasswordform-grid-item-confirmbutton .loading-button {
  border-radius: 20px;
}

input[type='number'] {
  -moz-appearance: textfield;
}
input[type='number']::-webkit-inner-spin-button,
input[type='number']::-webkit-outer-spin-button {
  -webkit-appearance: none;
}
input[type='number'] {
  margin: 0;
}

input[type='number'] {
  margin: 0;
}
